<%- include('./partials/header', { title: 'User Registred' }) -%> 
<%- include('./partials/nav') -%> 

<%- include('./partials/forms/header', { formtitle: 'User Registration Response'} )-%>

<p>User   <div class="divider"></div><%- username %></p>
<div class="divider"></div>
<p>Lab ID   <div class="divider"></div><%- username %></p>
<div class="divider"></div>
<p>MSP   <div class="divider"></div><%- msp %></p>
<div class="divider"></div>
<p>Public Key   <div class="divider"></div><%- pubKey %></p>
<p> Refer to your identity wallet for the full certificate.</p>
<a href="/sign" class="btn waves-effect waves-light teal"><i class="material-icons left">data_usage</i>Sign chart</a>

</form>
<%- include('./partials/forms/footer') -%>

<%- include('./partials/footer', { color: '' }) -%>