<%- include('./partials/header', { title: 'Blockchain Listener' }) -%> 
<%- include('./partials/nav') -%> 

<%- include('./partials/forms/header', { formtitle: 'Blockchain Events'} )-%> 
<table>
    <thead>
      <tr>
          <th>Block Number</th>
          <th>TxID</th>
          <th>Timestamp</th>
          <th>Updated Item</th>
          <th>Endorser</th>

      </tr>
    </thead>
    <tbody>
<% for (var i = blockdata.length - 1; i >= 0; i--){ %>
        
          <tr>
            <td><%- blockdata[i].Block %></td>
            <td><%- blockdata[i].TxID.slice(0,10) %>...<%- blockdata[i].TxID.slice(54,64) %></td>
            <td><%- blockdata[i].TxTimeStamp %></td>
            <td><%- blockdata[i].KeyUpdates%></td>
            <td><%- blockdata[i].Endorser %></td>
          </tr>

 <% } %>
</tbody>
</table>
 <%- include('./partials/forms/footer') -%>


 <%- include('./partials/footer', { color: '' }) -%>