<%- include('./partials/header', { title: 'Blockchain Listener' }) -%> 

<%- include('./partials/forms/header', { formtitle: 'Blockchain Events'} )-%> 
<table>
    <thead>
      <tr>
          <th>Block Number</th>
          <th>TxID</th>
          <th>Timestamp</th>
          <th>Invoked Function</th>
          <th>Updated Item</th>
          <th>Endorser</th>

      </tr>
    </thead>
    <tbody>
<% for (var i = blockdata.length - 1; i >= 0; i--){ %>
        
          <tr>
            <td><%- blockdata[i].Block %></td>
            <td><%- blockdata[i].TxID.slice(0,10) %>...<%- blockdata[i].TxID.slice(54,64) %></td>
            <td><%- blockdata[i].TxTimeStamp %></td>
            <td><%- blockdata[i].TransactionData.split(' ')[1].slice(11,) %></td>
            <td><%- blockdata[i].KeyUpdates.slice(26,) %></td>
            <td><%- blockdata[i].Endorser.slice(11,15) %>, <%- blockdata[i].Endorser.slice(19,23) %></td>
          </tr>

 <% } %>
</tbody>
</table>
 <%- include('./partials/forms/footer') -%>


<%- include('./partials/footer') -%>